<div class="case-studies-list">
    <div class="wrapper">
        <article class="case-study">
            <div class="case-study__img">
                <img src="{{asset 'assets/images/case-studies/eve.png'}}" alt="EVE SLEEP">
            </div>
            <div class="case-study__text">
                <small>EVE SLEEP</small>
                <h3><a href="https://tasman.ai/case-studies/eve/">Accelerating data maturity and enabling eCommerce growth</a></h3>
            </div>
        </article>

        <article class="case-study">
            <div class="case-study__img">
                <img src="{{asset 'assets/images/case-studies/kaia.svg'}}" alt="Kaia Health">
            </div>
            <div class="case-study__text">
                <small>Kaia Health</small>
                <h3><a href="https://tasman.ai/case-studies/kaia/">Building a World Class Data Team</a></h3>
            </div>
        </article>

        <article class="case-study">
            <div class="case-study__img">
                <img src="{{asset 'assets/images/case-studies/lessonup.png'}}" alt="LessonUp">
            </div>
            <div class="case-study__text">
                <small>LessonUp</small>
                <h3><a href="https://tasman.ai/case-studies/lessonup/">Building a scalable data foundation</a></h3>
            </div>
        </article>

        <article class="case-study">
            <div class="case-study__img">
                <img src="{{asset 'assets/images/case-studies/ondeck.svg'}}" alt="On Deck">
            </div>
            <div class="case-study__text">
                <small>On Deck</small>
                <h3><a href="https://tasman.ai/case-studies/ondeck/">Overhauling data infrastructure</a></h3>
            </div>
        </article>

        <article class="case-study">
            <div class="case-study__img">
                <img src="{{asset 'assets/images/case-studies/RESQ.png'}}" alt="ResQ Club">
            </div>
            <div class="case-study__text">
                <small>ResQ Club</small>
                <h3><a href="https://tasman.ai/case-studies/resq/">Crossing the data chasm</a></h3>
            </div>
        </article>

        <article class="case-study">
            <div class="case-study__img">
                <img src="{{asset 'assets/images/case-studies/safi.png'}}" alt="Safi">
            </div>
            <div class="case-study__text">
                <small>Safi</small>
                <h3><a href="https://tasman.ai/case-studies/safi/">Centralise Data & Replace Spreadsheets</a></h3>
            </div>
        </article>
    </div>
</div>