<section class="team">
    <div class="wrapper">
        <h2 class="section-title">OUR TEAM</h2>
        <p class="paragraph paragraph--smaller">We are a tight-knit team of passionate data professionals — driven by client impact, not just outputs and deliverables. We are Tasman.</p>
        <div class="team__list">
            <div class="team__member">
                <img src="{{asset 'assets/images/about/team/thomas.webp'}}" alt="Thomas in't Veld">
                <span>Thomas in't Veld</span>
                <small>CEO</small>
            </div>
            <div class="team__member">
                <img src="{{asset 'assets/images/about/team/rob.webp'}}" alt="Rob Hick">
                <span>Rob Hick</span>
                <small>CDO</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/caro.webp'}}" alt="Caro Boeri">
                <span>Caro Boeri</span>
                <small>Head of Analysis</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/tom.webp'}}" alt="Tom Shelley">
                <span>Tom Shelley</span>
                <small>Head of Analytics Engineering</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/eric.webp'}}" alt="Eric Thanenthiran">
                <span>Eric Thanenthiran</span>
                <small>Head of Data Engineering</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/patrick.webp'}}" alt="Patrick McElhinney">
                <span>Patrick McElhinney</span>
                <small>Data Product Manager</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/erik.webp'}}" alt="Erik Melin">
                <span>Erik Melin</span>
                <small>Analytics Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/abbey.webp'}}" alt="Abbey Bowen">
                <span>Abbey Bowen</span>
                <small>Analytics Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/jovan.webp'}}" alt="Jovan Saković">
                <span>Jovan Saković</span>
                <small>Data Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/anna.webp'}}" alt="Anna Selway">
                <span>Anna Selway</span>
                <small>Analytics Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/kitti.webp'}}" alt="Kitti Megyeri">
                <span>Kitti Megyeri</span>
                <small>Analytics Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/will.webp'}}" alt="Will Haworth">
                <span>Will Haworth</span>
                <small>Data Analyst</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/nastya.webp'}}" alt="Nastya Tretyak">
                <span>Nastya Tretyak</span>
                <small>Data Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/aileen.webp'}}" alt="Aileen Tolentino">
                <span>Aileen Tolentino</span>
                <small>Operations Manager</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/hoyin.webp'}}" alt="Ho Yin Wong">
                <span>Ho Yin Wong</span>
                <small>Analytics Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/tommy.webp'}}" alt="Tommy Bassett">
                <span>Tommy Bassett</span>
                <small>Data Analyst</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/jurri.webp'}}" alt="Jurri Gerretsen">
                <span>Jurri Gerretsen</span>
                <small>Analytics Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/ben_henshall.webp'}}" alt="Ben Henshall">
                <span>Ben Henshall</span>
                <small>Data Analyst</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/marcello.webp'}}" alt="Marcello Victorino">
                <span>Marcello Victorino</span>
                <small>Data Engineer</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/paul.webp'}}" alt="Paul Summersall">
                <span>Paul Summersall</span>
                <small>Data Analyst</small>
            </div>
             <div class="team__member">
                <img src="{{asset 'assets/images/about/team/miguel.webp'}}" alt="Miguel Duarte">
                <span>Miguel Duarte</span>
                <small>Data Engineer</small>
            </div>
        </div>
    </div>
</section>