<section class="partners-logo-loop">
   <div class="wrapper">
        <h2 class="block-title">WHO WE WORK WITH</h2>
        <div class="icon-slider">
            <div class="icon-track">
                <img src="{{asset 'assets/images/home/partners/partner-1.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-2.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-3.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-4.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-5.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-6.webp'}}" alt="Partner logo"> 

                <img src="{{asset 'assets/images/home/partners/partner-7.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-8.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-9.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-10.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-11.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-12.webp'}}" alt="Partner logo">

                <img src="{{asset 'assets/images/home/partners/partner-13.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-14.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-15.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-16.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-17.webp'}}" alt="Partner logo">
                <img src="{{asset 'assets/images/home/partners/partner-18.webp'}}" alt="Partner logo">
            </div>
        </div>
        <a href="/" class="button button--cream">SEE CASE STUDIES</a>
   </div>
</section>